.grandeur-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.grandeur-row button {
  margin-left: 5px;
  padding: 5px 10px;
  background-color: #00ffcc;
  border: none;
  color: #000;
  cursor: pointer;
  font-weight: bold;
}
.grandeur-row button:hover {
  background-color: #ff00ff;
  color: #fff;
}
